<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.safaa.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>My App</name>
    <description>A sample Apache Cordova application that responds to the deviceready event.</description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <!-- إعدادات Splash Screen الحديثة -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="@mipmap/ic_launcher" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <preference name="SplashScreenDelay" value="3000" />
        <!-- إعدادات الأمان -->
        <preference name="android-targetSdkVersion" value="33" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>
    </platform>
</widget>
